.team { 
    margin: 0;
    height: 85vh;
    background-color: #c8ec8d;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
}

.team__container { 
    color: #000;
    text-align: center;
    width: 78vw;
    overflow-x: visible;
}

.team__container h1 { 
    margin: 0;
    padding-bottom: 20px;
    font-size: 3.2rem;
}

.team__container p{
    font-size: 1.2rem; 
    margin: 0;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.team__imgContainer {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    width: 93vw;
    height: 240px;
    display: flex;
    flex-direction: row;
    overflow-x: visible;
    justify-content: center;
    align-items: center;
}

.team__imgIndividual { 
    height: 100%;
    width: 100%;
    overflow-x: visible;
    justify-content: center;
    align-items: center;
}

.team__imgContainer img{ 
    width: 93%;
    height: auto;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.team__imgContainer figcaption { 
    text-align: center;
    width: 90%;
}

.team-linksWrapper { 
    padding-top: 10px;
    overflow-x: visible;

}
.team-links {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
    .team { 
        flex-direction: column;
        height: 100%;
    }

    .team__container { 
        width: 100vw;
        height: 100%;
        overflow-x: visible;
    }

    .team__container h1 { 
        margin-top: 50px;
        padding-bottom: 10px;
    }

    .team__container p { 
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 675px) {
    .team{ 
        height: 100%;
    }
    .team__imgContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        resize: horizontal;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .team__imgContainer img{ 
        width: auto;
        height: 180px;
        border-radius: 50px;
    }

    .team__imgContainer figcaption { 
        padding-left: 10px;
        padding-bottom: 10px;
    }


}